

/* h1 {
    letter-spacing: 1px;
    text-align: center;
}

.dropzone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 4px dashed rgb(123, 118, 97);
    padding: 20px;
    width: 100%;
    max-width: 500px;
    box-shadow: rgba(19, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    margin: 0 auto;
    margin-top: 180px;
}

button {
    margin: 12px;
    padding: 12px;
    font-size: medium;
}

.btn-cont {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 10px;
    justify-content: center;
    padding: 0;
} */

/* .sub, .mint {
    margin-top: 10px;
    background-color: aquamarine;
} */

/* .sub{
    margin-top:50px;
    background-color: aquamarine;
}

.mint{
    margin-top:10px;
    justify-content: center;
    background-color: aquamarine;
}

@media (min-width: 768px) {
    .dropzone {
        width: 70%;
        max-width: 800px;
    }
}

@media (max-width: 767px) {
    .dropzone {
        width: 90%;
        height: auto;
    }

    button {
        width: 100%;
    }
}
 */





.left {
    display: flex;
    flex-direction: column;
    height: 750px;
    gap: 20px;
    width: 500px;
}

.form {
    height: 100%;
}

.formcontainer {
    display: flex;
    align-items: center;
    gap: 10px;
    
}
















main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-family: 'Roboto', sans-serif;
  }
  
  .card {
    width: 38rem;
    height: 48rem;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: rgb(0, 0, 0);
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
    
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.9;
      transition: opacity .2s ease-out;
      z-index: 1; /* Ensure the image is beneath text elements */
      margin-top: -10px;
    }
  
    h2 {
      position: absolute;
      inset: auto auto 30px 30px;
      margin: 0;
      transition: inset .3s .3s ease-out;
      /* font-family: 'Roboto Condensed', sans-serif; */
      font-weight: bold;
      text-transform: uppercase;
      background-color: transparent;
      z-index: 2; /* Ensure the heading is above the image */

      
    }

    h3{
      background-color: transparent;
      margin-bottom: 18px;
    }
    
    p, a {
      position: absolute;
      opacity: 0;
      max-width: 80%;
      transition: opacity .3s ease-out;
      background-color: transparent;
      z-index: 2; /* Ensure the paragraph and link are above the image */
      
    }
    
    p {
      inset: auto auto 80px 30px;
      background: rgba( 255, 255, 255, 0.2 );
      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
      backdrop-filter: blur( 6.5px );
      -webkit-backdrop-filter: blur( 6.5px );
      border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    
    a {
      inset: auto auto 40px 30px;
      color: inherit;
      text-decoration: none;
    }
    
    &:hover h2 {
      inset: auto auto 350px 30px;
      transition: inset .3s ease-out;
      background: rgba( 255, 255, 255, 0.2 );
      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
      backdrop-filter: blur( 6.5px );
      -webkit-backdrop-filter: blur( 6.5px );
      border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    
    &:hover p, &:hover a {
      opacity: 1;
      transition: opacity .5s .1s ease-in;
    }
    
    &:hover img {
      transition: opacity .3s ease-in;
      opacity: 1;
    }
  }
  
  .material-symbols-outlined {
    vertical-align: middle;
  }
  